<!-- templates/home.html -->

{% extends 'home/layout.html' %}

{% block title %}Home - Fin{% endblock %}

{% block content %}
    {% if config_bank %}
        <div class="container">
            <h1>Set Up Your Bank</h1>
            <p style="color: red;">{{message}}</p>
            <form method="post" action="{% url 'bank:setupbank' %}">
                {% csrf_token %}
                <h3>External Account Info</h3>
                <label for="bankname">Bank Name: </label>
                <input type="text" id="bankname" name="name" required><br><br>
                <label for="AccNum">Account Number</label>
                <input type="text" id="AccNum" name="AccNum" required><br><br>
                <label for="RoutNum">Routing Number</label>
                <input type="text" id="RoutNum" name="RoutNum" required><br><br>
                <h3>Address and Phone Number</h3>
                <label for="num">Enter your phone number: </label>
                <input type="tel" id="num" name="number" required><br><br>
                <label for="RoutNum">Street Address</label>
                <input type="text" id="StreetAdd" name="street" required><br><br>
                <label for="RoutNum">Apt/Condo Unit Number</label>
                <input type="text" id="StreetAdd" name="unit"><br><br>
                <label for="RoutNum">City</label>
                <input type="text" id="city" name="city" required><br><br>
                <label for="state">State</label>
                <select id="state" name="state">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select><br><br>
                <label for="zip">Zip Code</label>
                <input type="text" id="zip" name="zip" required><br><br>
                <h3>Social Security Number</h3>
                <label for="ssn">Enter your SSN/ITIN: </label>
                <input type="text" id="ssn" name="ssn" required><br><br>
                <label for="dob">Enter your Date of Birth: </label>
                <input type="date" id="dob" name="dob" required><br><br>
                <button type="submit">Submit</button>
            </form>
            
        </div>
    {% else %} 
        <div class="container">
            <h1>Bank/Balance Information</h1><hr>
            <div style="margin:10px; border: 2px solid black;">
                <h2>FinWheel</h2>
                <h3>Cash: {{user_account.cash_balance}}</h3><br>
                <a href="{% url 'bank:transaction' %}"><button>Add Money</button></a>
            </div>
            <hr>
            <div style="margin: 10px; border: 2px solid black;">
                <h2>External Account</h2>
                <h3>Bank: {{user_account.bank_account.bank_name}}</h3>
                <h4>Account Number: {{user_account.bank_account.bank_account_number}}</h4>
                {% if user_account.bank_account.verified %} 
                    <h4 style="color:green">Verified</h4>
                {% else %} 
                    <h4 style="color:grey">Not Verified Yet</h4>
                {% endif %}
            </div>
            
            <p style="color: red;">{{message}}</p>
        </div>
        <div class="container">
            <h1>Past Transactions</h1><hr>
            {% for x in transactions %} 
                <div style="margin: 10px; border: 2px solid black;">
                    {% if x.transaction_type == "DEP" %} 
                        <h2>Deposit</h2>
                    {% elif x.transaction_type == "WTH" %} 
                        <h2>Withdrawl</h2>
                    {% endif %}
                    <h3>Amount: {{x.amount}}</h3>
                    <h4>Date: {{x.date_executed}}</h4>
                </div>
            {% endfor %}
            
            <p style="color: red;">{{message}}</p>
        </div>
    {% endif %}
    
{% endblock %}
