{% extends 'home/layout.html' %}
{% load mathfilters %}


{% block title %}Investments{% endblock %}

{% block content %}
    
        <div class="container">
            <h1>Current Investments and Holdings</h1>
            <strong><p>Cash Available: ${{cash}}</p></strong><hr><br>
            <style>
                table, th, td, tr {
                    border: 1px solid black;
                    text-align: center;
                    padding:5px;
                }
                button {
                    background-color: #4CAF50; /* Green background */
                    border: none;             /* Remove borders */
                    color: white;             /* White text */
                    padding: 15px 32px;       /* Some padding */
                    text-align: center;       /* Centered text */
                    text-decoration: none;    /* Remove underline */
                    display: inline-block;    /* Make the button appear inline */
                    font-size: 16px;          /* Set a font size */
                    margin: 4px 2px;          /* Add some margin */
                    cursor: pointer;          /* Add a pointer cursor on hover */
                    border-radius: 12px;      /* Rounded corners */
                    transition: background-color 0.3s; /* Smooth transition for background color */
                }
                div {
                    margin: 20px;
                }

            </style>
            <table style="border: 1px solid black;">
                    <tr>
                        <th><p>Symbol</p></th>
                        <th><p>Quantity</p></th>
                        <th><p>Cost Basis</p></th>
                        <th><p>Gain/Loss</p></th>
                        <th><p>Gain/Loss  (%)</p></th>
                        <th><p>Current Price</p></th>
                    </tr>
                    {% for x in positions %}
                        <tr>
                            {% for key, value in x.items %} 
                                {% if key == "symbol" or key == "qty" or key == "cost_basis" or key == "current_price" or key == "unrealized_pl" or key == "unrealized_plpc" %}
                                    {% if key == "unrealized_plpc" %}
                                        <td><p>{{ value|mul:100 }}</p></td>
                                    {% else %} 
                                        <td><p>{{value}}</p></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
            </table>
            <p style="color: red;">{{message}}</p>
        </div>
        <div class="container">
            <h1>Open Orders</h1>
            {% for x in orders %} 
                <div class="container">
                    {% for key, value in x.items %} 
                        {% if key == "symbol" or key == "qty" or key == "order_type" or key == "side" or key == "limit_price" or key == "stop_price" or key == "trail_price" or key == "id" %}
                            {% if value != None %}
                                <p>{{key}} - <strong>{{value}}</strong></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% for key, value in x.items %} 
                        {% if key == "id" %}
                            {% if value != None %}
                                <a href="{% url 'bank:cancel' value %}" style="text-align: center;"><button style=" background-color:red;">Cancel this Order</button></a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            <p style="color: red;">{{message}}</p>
        </div>
        <div class="container" style="text-align: center;">
            <h3>Wanna make a trade?</h3>
            <a href="{% url 'bank:order' %}" style="text-align: center;"><button>Make a Trade</button></a>
            <h3>Wanna make a new automated financial plan?</h3>
            <a href="{% url 'ai:dashboard' %}" style="text-align: center;"><button>Talk to Fin</button></a>
            <h3>Check Out Your Dashboard</h3>
            <a href="{% url 'bank:dashboard' %}" style="text-align: center;"><button>Go to Dashboard</button></a>
            <h3>Make a Money Transfer</h3>
            <a href="{% url 'bank:transaction' %}" style="text-align: center;"><button>Money Transfer</button></a>
            <h3>Documents</h3>
            <a href="{% url 'bank:account_info' %}" style="text-align: center;"><button>Check out your documents</button></a>
        </div>
        
{% endblock %}
