<!-- templates/home.html -->

{% extends 'home/layout.html' %}

{% block title %}Home - Fin{% endblock %}

{% block content %}
        <div class="container">
            <h1>Trade Stocks</h1>
            <p style="color: red;">{{message}}</p>
            <form method="POST" action="{% url 'bank:order' %}">
                {% csrf_token %}
                <h3>Create a new Stock Order</h3><hr><br>
                <label for="stock">Stock Ticker: </label>
                <input type="text" id="stock" name="stock_tick"><br><br>
                <button onclick="getquote()">Get Quote</button><br><br>
                <h4 id="stockprice">Price: -----</h4><br><br>
                <h3>Order Side</h3>
                <select id="order_s" name="order_side" required>
                    <option value="">----</option>
                    <option value="buy">BUY</option>
                    <option value="sell">SELL</option>
                    <!--
                    <option value="buy_minus">Short</option>
                    <option value="sell_short">Sell Short</option>
                    -->
                </select><br><br>
                <h3>Order Type</h3>
                <select id="order_t" name="order_type" required>
                    <option value="">----</option>
                    <option value="market">MARKET</option>
                    <option value="limit">LIMIT</option>
                    <option value="stop">STOP</option>
                    <option value="stop_limit">STOP LIMIT</option>
                    <option value="trailing_stop">TRAILING STOP</option>
                </select><br><br>
                <h3>Time In Force</h3>
                <select id="order_ti" name="order_time" required>
                    <option value="">----</option>
                    <option value="day">DAY</option>
                    <option value="gtc">GOOD UNTIL CANCELED</option>
                    <option value="opg">OFFICIAL OPENING PRICE</option>
                </select><br><br>
                
                <div id="pricepoint" style="display:none;">
                    <label for="PriceNum">Price Point: </label>
                    <input type="number" id="PriceNum" name="price" required step="0.01" min="0" value="0"><br><br>
                </div>
                <hr>
                <label for="AmtNum">Qty</label>
                <input type="number" id="AmtNum" name="amount" required step="0.01" min="0"><br><br>
                
                <div class="summary">
                    <h3>Summary</h3>
                    <h4 id="sumOrder">Order Type: ----</h4>
                    <h4 id="sumAmt">Amount: ----</h4>
                    <h4 id="sumNewBalance">New Cash Balance: ----</h4>
                </div><br><br>
                <input type="submit" value="Submit Order">
            </form>
        </div>
        <iframe
                referrerpolicy="origin"
                width="80%"
                height="470"
                style="display:none; margin-left: 10px;"
                id="stock_graph"
                style="background: #FFFFFF; padding: 10px; border: none; border-radius: 5px; box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)"
                src="https://jika.io/embed/area-chart?symbol=AAPL&selection=one_year&closeKey=close&boxShadow=true&graphColor=1652f0&textColor=161c2d&backgroundColor=FFFFFF&fontFamily=Montserrat"
            ></iframe><br><br>
            <iframe
                referrerpolicy="origin"
                width="80%"
                height="470"
                style="display:none; margin-left: 10px;"
                id="stock_graph_pred"
                style="background: #FFFFFF; padding: 10px; border: none; border-radius: 5px; box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)"
                src="https://jika.io/embed/forecast-price-target?symbol=AAPL&boxShadow=true&graphColor=1652f0&textColor=161c2d&backgroundColor=FFFFFF&fontFamily=Montserrat"
            ></iframe>
            <iframe
                referrerpolicy="origin"
                width="80%"
                height="470"
                style="display:none; margin-left: 10px;"
                id="stock_graph_pred"
                style="background: #FFFFFF; padding: 10px; border: none; border-radius: 5px; box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)"
                src="https://jika.io/embed/forecast-price-target?symbol=AAPL&boxShadow=true&graphColor=1652f0&textColor=161c2d&backgroundColor=FFFFFF&fontFamily=Montserrat"
            ></iframe>
        <script>
            const amt = document.getElementById('AmtNum');
            const order = document.getElementById('order_t');
            const orderS = document.getElementById('order_s');
            const stock = document.getElementById('stock');
            const limits = document.getElementById('pricepoint')
            var stockPrice = 0;
            var pricept = 0;
            const oamt = {{cash.cash_balance}};
            // Add event listener to detect changes in input value (QUANTITY)
            amt.addEventListener('input', function() {
                const newAmtText = amt.value;
                const sumAmt = document.getElementById('sumAmt');
                const newB = document.getElementById('sumNewBalance');
                if (pricept == 0){
                    sumAmt.textContent = "Amount: $"+Number(newAmtText*stockPrice);
                    console.log(order.textContent);
                    if (orderS.value == "buy" || orderS.value == "buy_minus"){
                        newB.textContent = "New Balance: $"+Number(oamt - Number(newAmtText*Number(stockPrice)));
                    } else if (orderS.value == "sell" || orderS.value == "sell_short") {
                        newB.textContent = "New Balance: $"+Number(Number(newAmtText*Number(stockPrice)) + oamt);
                    }
                    console.log(newAmtText);
                    console.log(newB.textContent);
                } else {
                    sumAmt.textContent = "Amount: $"+Number(newAmtText*pricept);
                    console.log(order.textContent);
                    if (orderS.value == "buy" || orderS.value == "buy_minus"){
                        newB.textContent = "New Balance: $"+Number(oamt - Number(newAmtText*Number(pricept)));
                    } else if (orderS.value == "sell" || orderS.value == "sell_short") {
                        newB.textContent = "New Balance: $"+Number(Number(newAmtText*Number(pricept)) + oamt);
                    }
                    console.log(newAmtText);
                    console.log(newB.textContent);
                }
            });

            limits.addEventListener('input', function(){
                const newLimit = limits.value;
                console.log(newLimit);
                pricept = Number(newLimit);
            });

            // Add event listener to detect changes in input value
            order.addEventListener('change', function() {
                const newOrderText = order.value;
                const sumOrder = document.getElementById('sumOrder');

                sumOrder.textContent = "Order Type: "+newOrderText;
                if (newOrderText == "limit" || newOrderText == "stop_limit" || newOrderText == "stop" || newOrderText == "trailing_stop"){
                    document.getElementById('pricepoint').style.display = 'block';
                } else {
                    document.getElementById('pricepoint').style.display = 'none';
                }
            });

            // Add event listener to detect changes in input value
            acct.addEventListener('change', function() {
                const newAcctText = acct.textContent;
                console.log(newAcctText);
                const sumAcct = document.getElementById('sumAcct');
                if (order.textContent == "Deposit Funds to FinWheel"){
                    sumAcct.textContent = "From Account: "+newAcctText;
                } else if (order.textContent == "Withdraw Funds to FinWheel") {
                    sumAcct.textContent = "To Account: "+newAcctText;
                }
            });

            function getquote() {
                const newStockText = stock.value;
                const j = document.getElementById('stockprice');
                fetch("{% url 'bank:quote' %}", {
                    method: 'POST', 
                    body: JSON.stringify({ symbol: newStockText }), 
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}' 
                    }
                })
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    stockPrice = Number(data);
                    j.textContent = "Price: "+Number(data);
                    const graphs = document.getElementById('graphs');
                    const sg = document.getElementById('stock_graph');
                    sg.src = `https://jika.io/embed/area-chart?symbol=${newStockText}&selection=one_year&closeKey=close&boxShadow=true&graphColor=1652f0&textColor=161c2d&backgroundColor=FFFFFF&fontFamily=Nunito`;
                    const sgp = document.getElementById('stock_graph_pred');
                    sgp.src = `https://jika.io/embed/forecast-price-target?symbol=${newStockText}&boxShadow=true&graphColor=1652f0&textColor=161c2d&backgroundColor=FFFFFF&fontFamily=Montserrat`;
                    sg.style.display = 'block';
                    sgp.style.display = 'block';
                })
                
            };
            
        </script>
{% endblock %}

