<!-- templates/home.html -->

{% extends 'home/layout.html' %}

{% block title %}Home - Fin{% endblock %}

{% block content %}
        <div class="container">
            <h1>Bank Transfer</h1>
            <p style="color: red;">{{message}}</p>
            <form method="post" action="{% url 'bank:transaction' %}">
                {% csrf_token %}
                <h3>Create a new Stock Order</h3><hr><br>
                <label for="stock">Stock Ticker: </label>
                <input type="text" id="stock" name="stock_tick"><br><br>
                <h3>Order Side</h3>
                <select id="order_s" name="order_side" required>
                    <option value="">----</option>
                    <option value="buy">BUY</option>
                    <option value="sell">SELL</option>
                    <option value="buy_minus">Short</option>
                    <option value="sell_short">Sell Short</option>
                </select><br><br>
                <h3>Order Type</h3>
                <select id="order_t" name="order_type" required>
                    <option value="">----</option>
                    <option value="market">MARKET</option>
                    <option value="limit">LIMIT</option>
                    <option value="stop">STOP</option>
                    <option value="stop_limit">STOP LIMIT</option>
                </select><br><br>
                <div id="pricepoint" style="display:none;">
                    <label for="PriceNum">Price Point: </label>
                    <input type="number" id="PriceNum" name="price" required step="0.01" min="0"><br><br>
                </div>
                
                <hr>
                <label for="AmtNum">Qty</label>
                <input type="number" id="AmtNum" name="amount" required step="0.01" min="0"><br><br>
                
                <div class="summary">
                    <h3>Summary</h3>
                    <h4 id="sumOrder">Order Type: ----</h4>
                    <h4 id="sumAmt">Amount: ----</h4>
                    <h4 id="sumAcct">From/To: ----</h4>
                    <h4 id="sumNewBalance">New Balance: ----</h4>
                </div><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <script>
            const amt = document.getElementById('AmtNum');
            const order = document.getElementById('order_t');
            const acct = document.getElementById('bank_accounts');
            const stock = document.getElementById('stock');
            const oamt = {{cash.cash_balance}};
            // Add event listener to detect changes in input value
            amt.addEventListener('input', function() {
                const newAmtText = amt.value;
                const sumAmt = document.getElementById('sumAmt');
                const newB = document.getElementById('sumNewBalance');
                sumAmt.textContent = "Amount: $"+newAmtText;
                console.log(order.textContent);
                if (order.textContent == "Deposit Funds to FinWheel"){
                    newB.textContent = "New Balance: "+Number(Number(newAmtText) + oamt);
                } else if (order.textContent == "Withdraw Funds to FinWheel") {
                    newB.textContent = "New Balance: "+Number(Number(newAmtText) - oamt);
                }
                console.log(newAmtText);
                console.log(newB.textContent);
                
            });

            // Add event listener to detect changes in input value
            order.addEventListener('change', function() {
                const newOrderText = order.value;
                const sumOrder = document.getElementById('sumOrder');

                sumOrder.textContent = "Order Type: "+newOrderText;
                if (newOrderText == "limit" || newOrderText == "stop_limit"){
                    document.getElementById('pricepoint').style.display = 'block';
                } else {
                    document.getElementById('pricepoint').style.display = 'none';
                }
            });

            // Add event listener to detect changes in input value
            acct.addEventListener('change', function() {
                const newAcctText = acct.textContent;
                console.log(newAcctText);
                const sumAcct = document.getElementById('sumAcct');
                if (order.textContent == "Deposit Funds to FinWheel"){
                    sumAcct.textContent = "From Account: "+newAcctText;
                } else if (order.textContent == "Withdraw Funds to FinWheel") {
                    sumAcct.textContent = "To Account: "+newAcctText;
                }
            });
        </script>
{% endblock %}
