<html>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
        const handler = Plaid.create({
            token: '{{token}}',
            onSuccess: (public_token, metadata) => {
                fetch('localhost:8000/plaidverification', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: json.Stringify({
                        'public_token': public_token,
                    }),
                });
            },
            onLoad: () => {},
            onExit: (err, metadata) => {
                supportHandler.report({
                    error: error,
                    institution: metadata.institution,
                    link_session_id: metadata.link_session_id,
                    plaid_request_id: metadata.request_id,
                    status: metadata.status,
                });
            },
            onEvent: (eventName, metadata) => {
                
                // send event and metadata to self-hosted analytics
                analytics.send(eventName, metadata);
                
            },
        });
    </script>
    
</html>