<!-- templates/home.html -->

{% extends 'home/layout.html' %}

{% block title %}Home - Fin{% endblock %}

{% block content %}
        <div class="container">
            <h1>Bank Transfer</h1>
            <p style="color: red;">{{message}}</p>
            <form method="post" action="{% url 'bank:transaction' %}">
                {% csrf_token %}
                <h3>Create a New Bank Transfer</h3><hr><br>
                <label for="bank_accounts">From Account: </label>
                <select id="bank_accounts" name="bank">
                    <option value="">----</option>
                    {% for x in external_bank_accounts %}
                        <option value="{{x.bank_account_number}}">{{x.bank_name}} - {{x.bank_account_number}}</option>
                    {% endfor %}
                </select><br><br>
                <h3>Type of Transfer</h3>
                <select id="order_t" name="order_type" required>
                    <option value="">----</option>
                    <option value="INCOMING">Deposit Funds to FinWheel</option>
                    <option value="OUTGOING">Withdraw Funds from FinWheel</option>
                </select><br><br>
                <hr>
                <label for="AmtNum">Amount</label>
                <input type="number" id="AmtNum" name="amount" required step="0.01" min="0"><br><br>
                
                <div class="summary">
                    <h3>Summary</h3>
                    <h4 id="sumBalBefore">Current Cash Balance: ${{cash.cash}}</h4>
                    <h4 id="sumBalBeforeW">Withdrawable Cash Balance: ${{cash.cash_withdrawable}}</h4>
                    <h4 id="sumOrder">Order Type: ----</h4>
                    <h4 id="sumAmt">Amount: ----</h4>
                    <h4 id="sumAcct">From/To: ----</h4>
                    <h4 id="sumNewBalance">New Balance: ----</h4>
                </div><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <script>
            const amt = document.getElementById('AmtNum');
            const order = document.getElementById('order_t');
            const acct = document.getElementById('bank_accounts');
            const newB = document.getElementById('sumNewBalance');
            const oamt = {{cash.cash}};
            // Add event listener to detect changes in input value
            amt.addEventListener('input', function() {
                const newAmtText = amt.value;
                const sumAmt = document.getElementById('sumAmt');
                sumAmt.textContent = "Amount: $"+newAmtText;
                if (order.value == "INCOMING"){
                    newB.textContent = "New Balance: $"+Number(Number(newAmtText) + oamt);
                } else if (order.value == "OUTGOING") {
                    newB.textContent = "New Balance: $"+Number(oamt - Number(newAmtText));
                }
                console.log(newAmtText);
                console.log(newB.textContent);
                
            });

            // Add event listener to detect changes in input value
            order.addEventListener('change', function() {
                const newOrderText = order.value;
                const sumOrder = document.getElementById('sumOrder');
                sumOrder.textContent = "Order Type: "+newOrderText;
                console.log(order.value);
            });

            // Add event listener to detect changes in input value
            acct.addEventListener('change', function() {
                const newAcctText = acct.value;
                console.log(newAcctText);
                const sumAcct = document.getElementById('sumAcct');
                if (order.value == "INCOMING"){
                    sumAcct.textContent = "From Account: "+newAcctText;
                } else if (order.value == "OUTGOING") {
                    sumAcct.textContent = "To Account: "+newAcctText;
                }
            });
        </script>
{% endblock %}
