<!-- templates/home.html -->

{% extends 'home/layout.html' %}

{% block title %}Home - Fin{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Fin</h1><br>
    <p>FinWheel is a new financial technology company that plans to use artificial intelligence technology to create the first fully automated investment banking service. We plan to create a service that could integrate businesses and individuals to create a community of investors.</p>
</div>
<div class="container">
    <table>
        <tr>
            <th><h1>Problems</h1></th>
        </tr><br>
        <tr>
            <td>
                <h2>Barriers to Investment</h2>
                <p>FinWheel is a new financial technology company that plans to use artificial intelligence technology to create the first fully automated investment banking service. We plan to create a service that could integrate businesses and individuals to create a community of investors.</p>
            </td>    
        </tr><br>
        <tr>
            <td>
                <h2>Barriers to Investment</h2>
                <p>FinWheel is a new financial technology company that plans to use artificial intelligence technology to create the first fully automated investment banking service. We plan to create a service that could integrate businesses and individuals to create a community of investors.</p>
            </td>
        </tr><br>
        <tr>
            <td>
                <h2>Barriers to Investment</h2>
                <p>FinWheel is a new financial technology company that plans to use artificial intelligence technology to create the first fully automated investment banking service. We plan to create a service that could integrate businesses and individuals to create a community of investors.</p>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
