{% load static %}
<!-- templates/layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to FinWheel{% endblock %}</title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>

<header>
    <div class="logo">FinWheel</div>
    <nav>
        <ul>
            <li><a href="{% url 'home:dashboard' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'ai:dashboard' %}">AI</a></li>
            <li><a href="{% url 'user:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'user:login' %}">Login</a></li>
            <li><a href="{% url 'user:register' %}">Register</a></li>
            {% endif %}
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    <!-- Content of specific pages will be placed here -->
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Fin. All rights reserved.</p>
</footer>

</body>
</html>
