{% load static %}
{% load markdownify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Fin</title>
    <link rel="stylesheet" href="{% static 'ai/styles.css' %}">
    
</head>
<body>
    <header>
        <div class="logo">FinWheel AI</div>
        <nav>
            <ul>
                <li><a href="{% url 'home:dashboard' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="{% url 'user:logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <aside style="margin-right: 20px;">
            <div id="div1" class="profile-info">
                <!-- Display user profile information here -->
            </div>
            <div class="quick-links" style="height:100%;position:relative;">
                <h3>Chats</h3>
                <div id="div2" style="max-height:100%;overflow:auto;">
                    <ul style="position:relative;overflow:auto;max-height:100%;overflow:auto;">
                        {% if chatCount != 0 %}
                            {% for x in chats %}
                                <li>
                                    {% if x.chat_id != None %}
                                        <a class="chatButton" id="{{x.chat_id}}" href="javascript:handleChatChange('{{x.chat_id}}')">
                                            <div style="border: 2px solid black;">
                                                <p style="text-align: left;">{{x.chat_name}}</p>
                                                <a href="{% url 'ai:deleteChat' x.chat_id %}"><i class="fa-solid fa-trash">delete</i></a>

                                            </div>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li>
                            <a href="{% url 'ai:addChat' %}"><button>Add Chat</button></a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="chat-container">
            <div id="div1" style="position:relative;">
                <div id="div2" style="max-height:100%;overflow:auto;height: 700px;">
                    <div class="chat-box" id="chat-box" style="position:relative;overflow:auto;">
                        {% if chatHistory.0 != None %}
                            {% for x in chatHistory.0 %} 
                                <hr>
                                <h4>user:</h4> {{x.user_message | markdownify}} | {{x.date_created}}<br><hr>
                                <h4>bot:</h4> {{x.chatbot_response | markdownify}}<br>
                            {% endfor %}
                        {% endif %}
                        <!-- Chat messages will be dynamically added here -->
                    </div>
                    {% if chat == False %} 
                    <h4 style="text-align: center; top: 800;">Click the "Add Chat" Button on the Left to get started and talk with Fin AI.</h4>
                    {% endif %} 
                
                </div>
              </div>
              {% if chat == True %}
              <div class="user-input" style="bottom: 800;">
                  <input type="text" id="user-message" placeholder="Type your message...">
                  <button id="send-btn" class="{{chats.0.chat_id}}">Send</button>
              </div>
            {% endif %}
            
        </div>

        <!--
        <aside>
            <div class="profile-info">
                
            </div>
            <div class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
        </aside>
        -->
    </main>

    <footer>
        <div class="footer-content">
            <p>Contact us: customer-service@finwheel.tech</p>
            <ul class="social-links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="legal">
            <p>Terms of Service | Privacy Policy</p>
        </div>
    </footer>

    <script src="{% static 'ai/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        async function handleChatChange(chatID){
        try {
            document.getElementById('chat-box').innerHTML = ""; // clear the box
            await fetch("chatpull", {
                method: 'POST', 
                body: JSON.stringify({ pullID: chatID }), 
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}' 
            }})
            .then(response => response.text())
            .then(data => {
                console.log(data);
                document.getElementById('chat-box').innerHTML = data;
                sendBtn.setAttribute("class", chatID);
            })
            .catch(err => console.log(err))
        } catch (err) {
            console.error('There was a problem with the fetch operation:', err);
            return `Bot: Sorry, there was an error processing your request.`;
        }
        
    }
    </script>
</body>
</html>
